// Tokyo Night Theme Colors
$body-background-color: #1A1B26;
$sidebar-color: #24283B;
$border-color: #414868;

$body-text-color: #A9B1D6;
$body-heading-color: #BB9AF7;
$nav-child-link-color: #7AA2F7;
$search-result-preview-color: #A9B1D6;

$link-color: #7AA2F7;
$btn-primary-color: #7AA2F7;
$base-button-color: #24283B;

$code-background-color: #24283B;
$search-background-color: #24283B;
$table-background-color: #24283B;
$feedback-color: #24283B;